@font-face{
	font-family: RobotoCondensed;
	src: url(assets/roboto-condensed.light.ttf);
	font-weight: 800;
}

body{
	text-align: center;
	font-size: 20px large;
	padding: 3%;
	font-family: RobotoCondensed;
	
	background-color: lightsteelblue;
}

h1,h2,h3,h4,h5{
	font-family: EconomicaBold;
}

.profile {
	width: 200px;
	height: 200px;
	border-radius: 100px;	
}